[submodule "third_party/boringssl/src"]
	path = transports/http3-quiche/third_party/boringssl/src
	url = https://github.com/google/boringssl.git
	ignore = dirty
[submodule "third_party/abseil-cpp"]
	path = transports/http3-quiche/third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "third_party/quiche"]
	path = transports/http3-quiche/third_party/quiche
	url = https://github.com/google/quiche.git
	ignore = dirty
[submodule "third_party/zlib"]
	path = transports/http3-quiche/third_party/zlib
	url = https://github.com/madler/zlib.git
	ignore = dirty
[submodule "third_party/googleurl"]
	path = transports/http3-quiche/third_party/googleurl
	url = https://quiche.googlesource.com/googleurl
[submodule "third_party/protobuf"]
	path = transports/http3-quiche/third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
